@import "utils/vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  .employee-block-wrap {

    .employee_item {
      flex-basis: 25% !important;
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {}

// ≥768px
@include media-breakpoint-down(sm) {

  footer {
    .footer_menu__wrap {
      .col {
        flex-basis: 33%;
      }
    }
  }

  .employee-block-wrap {

    .employee_item {
      flex-basis: 33%;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {

  header.header {

    .header-menu-top {
      background-color: #EDEDED;
      border-bottom: 1px solid #EDEDED;

      .navbar {
        padding: 0;
      }

      .navbar-expand-md .navbar-nav {
        align-items: center;
      }
    }

    .navbar-light .navbar-toggler {
      border: 0;
      color: #58585a;
      padding: 4px 0;
      padding-left: 1rem;
    }

    span.navbar-toggler-text {
      padding-top: 10px;
      display: inline-block;
      position: absolute;
      padding-left: 15px;
      font-size: 10px;
      text-transform: uppercase;
      color: #58585A;
    }

    .navbar-collapse {
      margin-top: 5px;
    }

    button.navbar-toggler.order-first[aria-expanded='true'] {
      color: $orange;

      span.navbar-toggler-text {
        color: $orange;
      }
    }

    .navbar {
      width: -webkit-fill-available;
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-brand {
      font-size: 18px;
      color: #58585A;
      font-family: 'lato-light', sans-serif;

      strong {
        font-family: 'lato-bold', sans-serif;
      }
    }

    .navbar-collapse {
      background: $white;
    }


    li.menu_top--item.nav-item {
      &:first-child {
        margin-top: 20px;
      }

      &:last-child {
        margin-bottom: 20px;
      }
    }

    .navbar-light .navbar-nav .nav-link {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 24px;
      text-align: center;
      color: $gray;

      &.active {
        color: $orange;
      }

    }

    .header-middle {
      .header-middle-wrap {
        flex-direction: column;

        .header-logo {
          margin-bottom: 15px;
        }

        .btn-block {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .calc-icon,
          .btn-zamer {
            width: 160px;
            font-style: normal;
            line-height: normal;
            color: $white;
            background: $white;
            border: 1px solid $orange;
            border-radius: 100px;
            display: inline-block;
            padding: 10px 40px;

            a,
            span,
            strong {
              color: $gray;
              font-size: 12px;
              padding-left: 12px;
            }
          }

          .btn-zamer {
            padding: 8px 40px;
            margin-left: 12px;

            a::before {
              top: 5px;
            }
          }


        }

      }
    }
  }

  .left-middle-menu:last-child {
    margin-bottom: 30px;
  }

  .content__banner {
    .content__banner--body {
      padding: 25px;

      .content__banner--wrapper {
        width: 100%;

        .content__banner--introtext {
          font-size: 16px !important;
          margin-bottom: 15px;
        }

        .price-container {
          strong {
            font-size: 30px;
          }

          .ruble {
            font-size: 30px;
          }
        }
      }
    }
  }

  .cardGroup {
    flex-wrap: wrap;

    .card {
      flex-basis: 100% !important;
      border-bottom: 1px solid #d8d8d8;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  section#home-about {
    margin-top: 20px;
    padding-bottom: 0;

    .logo {
      margin-bottom: 20px;
    }

    .home-about-wrap .text {
      .home-about-title {
        font-size: 18px;
        text-align: center;
      }

      .home-about-description {
        font-size: 14px;
        line-height: 22px;

        p {
          margin-bottom: 0;
        }
      }

      .home-about-link a {
        font-size: 14px;
      }
    }
  }

  .price_windows {
    h2 {
      font-size: 16px;
      margin-bottom: 30px;
      text-align: center;
    }
  }

  .price_windows-wrap,
  .cost_window_item_wrap {
    padding: 35px 25px !important;

    .products_promo-item {
      .price-title {
        margin-top: 15px;
        font-size: 14px;
      }

      .price {
        font-size: 30px;
      }

      .size-title {
        font-size: 14px;
      }

      .size {
        font-size: 14px;
      }

      .list-option {
        margin-top: 10px;

        &__item {
          line-height: 1.1;
          font-size: 13px;
        }
      }
    }

    .details {
      &__title {
        font-size: 16px !important;
        margin-bottom: 10px !important;
      }

      &__descr {
        font-size: 14px !important;
        line-height: 22px !important;
        margin-bottom: 25px !important;
      }
    }

    .details__options {
      justify-content: flex-start !important;
      align-items: start !important;

      .options--item {
        padding-right: 0 !important;
        margin-bottom: 10px !important;
        flex-basis: 50% !important;
        align-items: start !important;

        .options--item__icon {

          .icon {
            width: 20px !important;
            height: 25px !important;
            margin-right: 7px !important;
          }
        }

        .options--item__title {
          line-height: 15px !important;
          font-size: 10px !important;
        }
      }
    }
  }

  #costOneWindow .cost_window_item_wrap .col-right .btn-block {
    position: initial;
    margin-top: 0;

    .btn_full:nth-child(1),
    .btn_full:nth-child(2) {
      flex-basis: 50%;
    }
  }

  section#own_production-block {
    .row.own_production-wrap {
      width: auto !important;
    }

    .own_production-wrap {
      padding-top: 40px;
      padding-bottom: 20px;

      .col-left {
        padding-left: 0;
        margin-bottom: 30px;

        .own_production--img {
          margin-bottom: 10px;

          img {
            height: 55px !important;
          }
        }

        .own_production--title {
          font-size: 13px;
        }
      }

      .col-left .mb-90 {
        margin-bottom: 30px;
      }

      .col-right {
        padding-left: 0;
        padding-right: 0;

        .own_production--img {
          margin-bottom: 15px;

          img {
            width: 55px;
            height: auto;
          }

          .title {
            font-size: 20px !important;
            font-family: 'lato-bold', sans-serif !important;
          }
        }

        .own_production--descr p {
          line-height: 22px;
          font-size: 14px;

          strong {
            line-height: 22px;
            font-size: 14px;
          }
        }
      }
    }
  }

  section#double_glazing {
    margin-bottom: 0;

    .section_description {
      margin-bottom: 30px;
    }

    .col-12:nth-child(2) {
      order: -1;
    }

    .item-description {
      margin-bottom: 30px;

      img {
        margin-bottom: 15px;
      }

      img:nth-child(1),
      img:nth-child(3) {
        height: 260px !important;
      }

      .description {
        margin-bottom: 0 !important;
        width: 100% !important;
      }
    }
  }

  #costPriceWindows .btn-doors {
    right: auto;
    left: 5%;
    margin-top: 60px;
  }

  #costPriceWindows .btn-windows {
    right: 5%;
    margin-top: 60px;
  }

  .slide-controls {
    .custom-dots {
      overflow: hidden;
      max-width: 63%;
      margin-left: 5px;
    }

    .slide-controls-wrap {
      margin-right: 5px;
    }
  }

  section#construction,
  section#double_glazing,
  section#services-block {
    .section_title {
      font-size: 16px;
      padding-bottom: 5px !important;
    }

    .sec-descr,
    .section_description {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .index-page {
    section#own_production-block {
      margin-bottom: 0;
    }
  }

  section#promo_2_col .price-item {
    margin-bottom: 20px;

    .price-item-content .windows-info {
      padding: 20px 20px;

      &__title {
        font-size: 16px;
        margin-bottom: 0;
      }

      &__description {
        line-height: 18px;
        font-size: 14px;
      }

      &__price {
        margin: 15px 0 10px 0;
      }

      .windows-info__button {
        .calc-icon {
          width: 170px;

          span,
          a {
            padding-left: 12px;
            font-size: 14px;
          }
        }

        .btn_orange {
          font-size: 14px;
        }
      }
    }
  }

  #costOneWindow {
    .cost_window_item_wrap {
      flex-direction: column;

      .col-left,
      .col-right {
        flex-basis: 100%;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .reviews_form_wrap {
    display: block !important;

    .left-column,
    .right-column {
      width: 100% !important;
      display: block;
    }
  }

  section#select_acc {
    .container {
      padding: 30px 15px;

      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .select_acc-item {
        margin-bottom: 20px;

        &__img {
          border-radius: 5px;
        }

        &-bottom {
          .select_acc-item--title {
            font-size: 16px !important;
            margin-top: 5px !important;
            text-transform: none !important;
          }

          .select_acc-item--descr {
            font-size: 14px !important;
          }
        }
      }

      .btn-more {
        margin-top: 0;

        .btn_orange {
          font-size: 14px;
        }
      }
    }
  }

  section#reviews {
    margin-top: 0;
    margin-bottom: 0;

    h2.section_title {
      font-size: 16px;
      line-height: normal !important;
      margin-bottom: 0;
    }

    .reviews_item {
      margin-bottom: 20px;

      .review-item__quote {
        margin-bottom: 0;
      }

      &--title {
        font-size: 16px;
      }

      &--date {
        font-size: 14px;
        margin-bottom: 5px;
      }

      &--text {
        max-width: 100% !important;
        font-size: 14px;
      }
    }

    .slide-controls {
      position: absolute;
      bottom: -13%;
    }
  }

  section#find_cost {
    margin-top: 0;
    margin-bottom: 0;

    .find_cost_wrap {
      margin-left: 0;
      margin-right: 0;

      h2.find_cost--title {
        font-size: 16px;
      }

      .find_cost--description {
        font-size: 14px;
      }

    }
  }

  footer {
    .footer_menu__wrap {
      .col {
        flex-basis: 100%;
        margin-left: 75px;
      }
    }
  }

  .employee-block-wrap {

    .employee_item {
      flex-basis: 50%;

      .employee_item--img img {
        height: 145px !important;
        width: 145px !important;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {}

// ≤992px
@include media-breakpoint-up(lg) {}

// ≤1200px
@include media-breakpoint-up(xl) {}