@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

::placeholder {
  color: #666;
}

::selection {
  background-color: $black;
  color: $white;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: $default-font;
  overflow-x: hidden;
  color: $mineShaft;
  background: $white;
  outline: 0;

  input,
  textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

.h3 {
  display: block;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

b,
strong {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input:focus {
  outline: 0;
  box-shadow: none;

}

.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.headline-wrap {
  padding: 48px 0;
  text-align: center;

  .headline-title {
    color: $tropaz;
    font-family: Helvetica;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }

  .headline-descr {
    color: $tundora;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.6px;
  }
}

section#block_form {
  padding: 85px 0 50px 0;

  .title-block {
    margin-bottom: 50px;

    h2 {
      color: $white;
      font-family: Helvetica;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.9px;
      line-height: 1.2;
    }
  }

  .descr-block {
    color: $white;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 1.2;
    margin-bottom: 35px;
    max-width: 540px;
  }

  .list-block__wrap {
    .item {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      &__icons {
        img {
          margin-right: 16px;
        }
      }

      &__descr {
        color: $white;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
        max-width: 310px;
      }
    }
  }
}

form#form_question {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  input,
  textarea {
    background: #0000;
    border-color: $white;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    color: $white;
    width: 100%;
    padding: 15px 18px 15px 18px;
    margin-bottom: 22px;
  }

  ::-webkit-input-placeholder {
    color: $white;
  }

  ::-moz-placeholder {
    color: $white;
  }

  /* Firefox 19+ */
  :-moz-placeholder {
    color: $white;
  }

  /* Firefox 18- */
  :-ms-input-placeholder {
    color: $white;
  }

  button.btn {
    width: 100%;
    color: $white;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    padding: 25px 15px;
    background-color: $blue;
    border-color: $blue;
    outline: none;

    &:hover {
      opacity: .7;
      cursor: pointer;
    }
  }

}

//Модули
@import "modules/modules";
@import "media";