@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

::placeholder {
  color: #666;
}

::selection {
  background-color: $black;
  color: $white;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: $default-font;
  overflow-x: hidden;
  color: $mineShaft;
  background: $white;
  outline: 0;

  input,
  textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

.h3 {
  display: block;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

b,
strong {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input:focus {
  outline: 0;
  box-shadow: none;

}

.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.headline-wrap {
  padding: 48px 0;
  text-align: center;

  .headline-title {
    color: $tropaz;
    font-family: Helvetica;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }

  .headline-descr {
    color: $tundora;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.6px;
  }
}

section#block_form {
  padding: 85px 0 50px 0;

  .title-block {
    margin-bottom: 50px;

    h2 {
      color: $white;
      font-family: Helvetica;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.9px;
      line-height: 1.2;
    }
  }

  .descr-block {
    color: $white;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 1.2;
    margin-bottom: 35px;
    max-width: 540px;
  }

  .list-block__wrap {
    .item {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      &__icons {
        img {
          margin-right: 16px;
        }
      }

      &__descr {
        color: $white;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
        max-width: 310px;
      }
    }
  }
}

form#form_question {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  input,
  textarea {
    background: #0000;
    border-color: $white;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    color: $white;
    width: 100%;
    padding: 15px 18px 15px 18px;
    margin-bottom: 22px;
  }

  ::-webkit-input-placeholder {
    color: $white;
  }

  ::-moz-placeholder {
    color: $white;
  }

  /* Firefox 19+ */
  :-moz-placeholder {
    color: $white;
  }

  /* Firefox 18- */
  :-ms-input-placeholder {
    color: $white;
  }

}

.btn {
  width: 100%;
  color: $white;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  padding: 25px 15px;
  background-color: $blue;
  border-color: $blue;
  outline: none;

  &:hover {
    opacity: .7;
    cursor: pointer;
  }
}

#info-block {
  .service-block__content {
    padding-left: 70px;

    .service-block__wrap {
      margin: 70px 0 10px 0;
      max-width: 480px;

      .title {
        color: $white;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.9px;
        margin-bottom: 10px;
      }

      .descr {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
        margin-bottom: 60px;
      }

      form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        span {
          max-width: 310px;
          display: block;
          margin-bottom: 35px;
          color: $white;
          font-family: Helvetica;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.45px;
        }

        input {
          background: #0000;
          border-color: $white;
          font-family: Helvetica;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.35px;
          color: $white;
          width: 360px;
          padding: 15px 18px 15px 18px;
          margin-bottom: 22px;
        }

        button {
          padding: 27px 30px;
          width: max-content;
          margin-bottom: 40px;
        }

        ::-webkit-input-placeholder {
          color: $white;
        }

        ::-moz-placeholder {
          color: $white;
        }

        /* Firefox 19+ */
        :-moz-placeholder {
          color: $white;
        }

        /* Firefox 18- */
        :-ms-input-placeholder {
          color: $white;
        }

      }

      .note-block {
        border-top: 1px solid $white;
        padding-top: 10px;
        color: $white;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
      }
    }
  }
}

#map {
  width: 100%;

  iframe {
    height: 450px !important;
  }

  .map_container {
    position: relative;

    .content_block {
      position: absolute;
      left: 0;
      bottom: 25px;
      background-color: rgba(0, 0, 0, 0.51);
      padding: 20px 30px;

      form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        span {
          max-width: 310px;
          display: block;
          margin-bottom: 35px;
          color: $white;
          font-family: Helvetica;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.45px;
        }

        input,
        textarea {
          background: #0000;
          border-color: $white;
          font-family: Helvetica;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.35px;
          color: $white;
          width: 100%;
          padding: 15px 18px 15px 18px;
          margin-bottom: 22px;
        }

        ::-webkit-input-placeholder {
          color: $white;
        }

        ::-moz-placeholder {
          color: $white;
        }

        /* Firefox 19+ */
        :-moz-placeholder {
          color: $white;
        }

        /* Firefox 18- */
        :-ms-input-placeholder {
          color: $white;
        }

      }

    }
  }
}

#form-order {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  select,
  input,
  textarea {
    background: #0000;
    border-color: $darkBlack;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    color: #a5a5a5;
    width: 100%;
    padding: 15px 18px 15px 18px;
    margin-bottom: 22px;
  }

  ::-webkit-input-placeholder {
    color: #a5a5a5;
  }

  ::-moz-placeholder {
    color: #a5a5a5
  }

  /* Firefox 19+ */
  :-moz-placeholder {
    color: #a5a5a5;
  }

  /* Firefox 18- */
  :-ms-input-placeholder {
    color: #a5a5a5;
  }

  span.note_text {
    display: block;
    color: #686868;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    margin-bottom: 33px;
  }

  a {
    display: block;
    color: $tropaz;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }

  .btn {
    width: 100%;
    color: $white;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    padding: 25px 15px;
    background-color: $red;
    border-color: $red;
    outline: none;
    width: max-content;
    margin-bottom: 20px;

    &:hover {
      opacity: .7;
      cursor: pointer;
    }
  }

}



#map_contact {
  width: 100%;

  iframe {
    height: 450px !important;
  }

  .map_container {
    position: relative;

    .content_block {
      position: absolute;
      left: 0;
      bottom: 25px;
      height: 289px;
      background-color: rgba(0, 0, 0, 0.51);
      padding: 40px 30px 20px 30px;

      &--item {
        color: $white;
        margin-bottom: 15px;

        .content_block--title {
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.45px;
        }

        .content_block--descr {
          font-weight: 400;
          letter-spacing: 0.4px;
          font-size: 18px;

          a {
            display: block;
            color: $white;
          }
        }
      }

      a.btn {
        display: block;

        &:hover {
          color: $white;
        }
      }
    }
  }

}

#service-content {
  padding: 100px 0 70px 0;

  .content-wrap {
    .title {
      color: $tundora;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 0.6px;
      margin-bottom: 25px;
    }

    p {
      margin-bottom: 25px;
      color: $tundora;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
    }

    h4 {
      color: $tropaz;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.45px;
    }
  }
}

.list-block__wrap {
  .right-block-title {
    color: $tundora;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
    margin-bottom: 30px;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &__icons {
      margin-right: 10px;
    }
  }
}

.slider_wrap {

  .slider_item {

    &--img {
      position: relative;
      margin-bottom: 24px;

      img {
        width: 100%;
        height: auto;
      }

      span.date {
        position: absolute;
        left: 0;
        top: 0;
        color: $white;
        background-color: $red;
        padding: 12px 13px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
      }
    }

    &--title {
      margin-bottom: 19px;

      a {
        color: $tropaz;
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        letter-spacing: 0.4px;
      }
    }

    &--text p {
      color: $tundora;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
    }
  }
}

#slider-reasons .slider_wrap {
  text-align: center;

  .slider_item {
    &--img {
      img {
        width: 70px;
        height: 70px;
        margin: 0 auto;
      }
    }

    &--title {
      color: $mineShaft;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.45px;
    }

    &--item {
      color: $mineShaft;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: 0.35px;
    }
  }
}

ul.slick-dots {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;

  li {
    display: inline-block;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    button {
      background: #0000;
      border-color: $boulder;
      width: 16px;
      height: 16px;
      color: #0000;
      border-radius: 50%;
      font-size: 6px;
    }

    &.slick-active {
      button {
        background-color: $boulder;
      }
    }
  }
}

#slider-post::after {
  display: block;
  margin: 0 auto;
  position: relative;
  content: '';
  text-align: center;
  width: 946px;
  height: 1px;
  background-image: url(../images/general/slider_img.png);
}




//Модули
@import "modules/modules";
@import "media";