header.header
  .header-top
    .container
      .wrapper
        .wrapper__item
          .header-top-title Бесплатная юридическая консультация по земельным вопросам
        .wrapper__item
          .header-top-address Москва, ул. Большая Такая-то, дом 1
        .wrapper__item
          .header-top-phone 
            a(class='link' href='tel:+74951234567') +7 (495) 123 45 67
  .header-middle
    .container
      .row
        .col-md-5
          .logo-wrap
            a(href='#')
              img(src="", class='logo', alt="Logo")
              span ЗЕМЕЛЬНЫЙ ЮРИСТ
        .col-md-4
          .work-clock-wrap
            .work-clock-item
              .work-clock-item__icon
                img(src="", alt="РАБОТА ГОРЯЧЕЙ ЛИНИИ")
              .work-clock-item__title РАБОТА ГОРЯЧЕЙ ЛИНИИ
              .work-clock-item__descr ежедневно с 10:00 до 18:00
            .work-clock-item
              .work-clock-item__icon
                img(src="", alt="ОНЛАЙН ПРИЕМ ЗАЯВОК")
              .work-clock-item__title ОНЛАЙН ПРИЕМ ЗАЯВОК
              .work-clock-item__descr круглосуточно 
        .col-md-3
          .work-phone-wrap
            .work-phone-item
              .work-phone-item__icon
                img(src="", alt="Для звонков по Москве")
              .work-phone-item__title Для звонков по Москве
              .work-phone-item__number 
                a(href="tel:+74951234567") +7 (495) 123 45 67
            .work-phone-item
              .work-phone-item__icon
                img(src="", alt="Для звонков по всей России")
              .work-phone-item__title Для звонков по всей России
              .work-phone-item__number
                a(href="tel:+74951234567") +7 (495) 123 45 67