header.header
  .header-top
    .container
      .wrapper
        .wrapper__item
          .header-top-title Бесплатная юридическая консультация по земельным вопросам
        .wrapper__item
          .item__icon
            img(src="static/images/general/icons_home.png", alt="")
          .header-top-address Москва, ул. Большая Такая-то, дом 1
        .wrapper__item
          .item__icon
            img(src="static/images/general/icons_call.png", alt="")
          .header-top-phone 
            a(class='link' href='tel:+74951234567') +7 (495) 123 45 67
  .header-middle
    .container
      .row
        .item-col
          .logo-wrap
            a(href='#')
              img(src="static/images/general/logo.png", class='logo', alt="Logo")
              span ЗЕМЕЛЬНЫЙ ЮРИСТ
        .item-col
          .items-wrap
            .item
              .item__icon
                img(src="static/images/general/icons_clock.png", alt="РАБОТА ГОРЯЧЕЙ ЛИНИИ")
              .descr-wrap
                .descr__title РАБОТА ГОРЯЧЕЙ ЛИНИИ
                .descr__text ежедневно с 10:00 до 18:00
            .item
              .item__icon
                img(src="static/images/general/icons_24.png", alt="ОНЛАЙН ПРИЕМ ЗАЯВОК")
              .descr-wrap
                .descr__title ОНЛАЙН ПРИЕМ ЗАЯВОК
                .descr__text круглосуточно 
        .item-col
          .items-wrap
            .item
              .item__icon
                img(src="static/images/general/icons_phone.png", alt="Для звонков по Москве")
              .descr-wrap
                .descr__info Для звонков по Москве
                .descr__number 
                  a(href="tel:+74951234567") +7 (495) 123 45 67
            .item
              .item__icon
                img(src="static/images/general/icons_phone.png", alt="Для звонков по всей России")
              .descr-wrap
                .descr__info Для звонков по всей России
                .descr__number
                  a(href="tel:+74951234567") +7 (495) 123 45 67
  .header-bottom
    .header-bottom-wrap
      nav.navbar.navbar-expand-lg.navbar-dark.bg-light
        a.navbar-brand.d-block.d-sm-none(href='#') Меню
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href='/') ГЛАВНАЯ
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='/services.html', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Наши услуги
              .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                .dropdown-menu-wrap
                  a.dropdown-item(href='#') Раздел земельного участка
                  a.dropdown-item(href='#') Раздел земельного участка
                  a.dropdown-item(href='#') Раздел земельного участка
                  a.dropdown-item(href='#') Земельный участок под коммерческую застройку
                  a.dropdown-item(href='#') Земельный участок под коммерческую застройку
                  a.dropdown-item(href='#') Раздел земельного участка
                  a.dropdown-item(href='#') Раздел земельного участка
                  a.dropdown-item(href='#') Раздел земельного участка
                  a.dropdown-item(href='#') Раздел земельного участка
                  a.dropdown-item(href='#') Раздел земельного участка
                  a.dropdown-item(href='#') Раздел земельного участка
                  a.dropdown-item(href='#') Раздел земельного участка
            li.nav-item
              a.nav-link(href='/reviews.html') Отзывы
            li.nav-item
              a.nav-link(href='/order_docs.html') Заказать документ
            li.nav-item
              a.nav-link(href='/news.html') Новости
            li.nav-item
              a.nav-link(href='/contacts.html') Контакты

      .consult-wrap 
        button.consult-link(data-toggle='modal', data-target='#callModal') Бесплатная консультация