header.header
  .header-top
    .container
      .wrapper
        .wrapper__item
          .header-top-title Бесплатная юридическая консультация по земельным вопросам
        .wrapper__item
          .header-top-address Москва, ул. Большая Такая-то, дом 1
        .wrapper__item
          .header-top-phone 
            a(class='link' href='tel:+74951234567') +7 (495) 123 45 67
  .header-middle
    .container
      .row
        .item-col
          .logo-wrap
            a(href='#')
              img(src="", class='logo', alt="Logo")
              span ЗЕМЕЛЬНЫЙ ЮРИСТ
        .item-col
          .items-wrap
            .item
              .item__icon
                img(src="static/images/general/icon.png", alt="РАБОТА ГОРЯЧЕЙ ЛИНИИ")
              .descr-wrap
                .descr__title РАБОТА ГОРЯЧЕЙ ЛИНИИ
                .descr__text ежедневно с 10:00 до 18:00
            .item
              .item__icon
                img(src="static/images/general/icon.png", alt="ОНЛАЙН ПРИЕМ ЗАЯВОК")
              .descr-wrap
                .descr__title ОНЛАЙН ПРИЕМ ЗАЯВОК
                .descr__text круглосуточно 
        .item-col
          .items-wrap
            .item
              .item__icon
                img(src="static/images/general/icon.png", alt="Для звонков по Москве")
              .descr-wrap
                .descr__info Для звонков по Москве
                .descr__number 
                  a(href="tel:+74951234567") +7 (495) 123 45 67
            .item
              .item__icon
                img(src="static/images/general/icon.png", alt="Для звонков по всей России")
              .descr-wrap
                .descr__info Для звонков по всей России
                .descr__number
                  a(href="tel:+74951234567") +7 (495) 123 45 67