footer {
  background-color: $matisse;
  flex: 0 0 auto;
  padding: 78px 0 120px 0;

  .footer__wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .h3 {
      color: $white;
      margin-bottom: 25px;
    }

    .footer_menu__wrap {
      display: flex;

      .col {
        flex-basis: 50%;
        padding-left: 0;
        padding-right: 30px;

        .footer_menu--list {
          .footer_menu--item {
            margin-bottom: 10px;
            line-height: initial;

            .footer_menu--link {
              font-family: Helvetica;
              font-size: 14px;
              font-weight: 300;
              letter-spacing: 0.35px;
              color: $white;

              &:hover {
                color: $mercury;
                text-decoration: underline;
                transition: all 250ms ease;
              }
            }

          }
        }
      }
    }
  }
}