extends template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page'

block content

  section#index-content
    .container
      .row

  include modules/small-block/info_block
  include modules/small-block/reasons
  include modules/small-block/form_block
  include modules/small-block/map