extends template/main

block variables
  - var title = 'Новости'
  - var pageClass = 'news'

block content

  section#news-content
    .container
      .row
        .news-content
          .news-item
            .news-item__img
              img(src="static/images/general/news-item.png", alt="News item")
            .news-item__content
              .title В долевом строительстве начали действовать правила
              .descr В долевом строительстве начали действовать новые правила, которые защитят покупателей квартир от обманов и потери денег.
          .news-item
            .news-item__img
              img(src="static/images/general/news-item.png", alt="News item")
            .news-item__content
              .title В долевом строительстве начали действовать правила
              .descr В долевом строительстве начали действовать новые правила, которые защитят покупателей квартир от обманов и потери денег.
          .news-item
            .news-item__img
              img(src="static/images/general/news-item.png", alt="News item")
            .news-item__content
              .title В долевом строительстве начали действовать правила
              .descr В долевом строительстве начали действовать новые правила, которые защитят покупателей квартир от обманов и потери денег.
          .news-item
            .news-item__img
              img(src="static/images/general/news-item.png", alt="News item")
            .news-item__content
              .title В долевом строительстве начали действовать правила
              .descr В долевом строительстве начали действовать новые правила, которые защитят покупателей квартир от обманов и потери денег.
          .news-item
            .news-item__img
              img(src="static/images/general/news-item.png", alt="News item")
            .news-item__content
              .title В долевом строительстве начали действовать правила
              .descr В долевом строительстве начали действовать новые правила, которые защитят покупателей квартир от обманов и потери денег.
          .news-item
            .news-item__img
              img(src="static/images/general/news-item.png", alt="News item")
            .news-item__content
              .title В долевом строительстве начали действовать правила
              .descr В долевом строительстве начали действовать новые правила, которые защитят покупателей квартир от обманов и потери денег.
          .news-item
            .news-item__img
              img(src="static/images/general/news-item.png", alt="News item")
            .news-item__content
              .title В долевом строительстве начали действовать правила
              .descr В долевом строительстве начали действовать новые правила, которые защитят покупателей квартир от обманов и потери денег.
          .news-item
            .news-item__img
              img(src="static/images/general/news-item.png", alt="News item")
            .news-item__content
              .title В долевом строительстве начали действовать правила
              .descr В долевом строительстве начали действовать новые правила, которые защитят покупателей квартир от обманов и потери денег.
  
  include modules/small-block/form_block
  include modules/small-block/map