extends template/main

block variables
  - var title = 'Услуга'
  - var pageClass = 'service'

block content

  include modules/small-block/info_block

  section#service-content
    .container
      .row
        .col-md-8.col-sm-7.col-12
          .content-wrap
            .title Тут будет заголовок статьи
            p Наша юридическая компания предлагает широчайший спектр юридических услуг в Москве, среди которых помощь жилищного юриста является одной из наиболее востребованных. Наши высококвалифицированные специалисты помогут успешно найти выход из любой проблемной ситуации, связанной с жилой недвижимостью, проконтролируют законность проводимых сделок и восстановят ваши нарушенные права. Узкая специализация, индивидуальный подход к каждому обращению, возможность комплексной правовой защиты – все это является гарантом разрешения любой проблемы в сфере жилищного права.
            
            h4 Помощь опытного жилищного юриста в Москве требуется в различных ситуациях:

            p
              | — Необходимость вселения/принудительного выселения того или иного лица.<br>
              | — Юридически грамотное составление документов на жилье.<br>
              | — Признание недействительности договоров, устанавливающих право собственности на жилую недвижимость.<br>
              | — Организация/оспаривание получения жилья по договорам социального найма.<br>
              | — Раздел недвижимого имущества, находящегося в совместной собственности бывших супругов.<br>
              | — Проведение сделок с жильем, в котором прописаны несовершеннолетние дети.<br>
              | — Подтверждение/признание утраченным права пользования жилым помещением.<br>
              | — Заключение договоров долевого строительства.<br>
              | — Оспаривание отказа в приватизации жилья, госрегистрации права на него.

            p В любой из перечисленных и многих других ситуаций необходимо заручиться квалифицированной юридической помощью. В противном случае возможно наступление неблагоприятных последствий различного характера:

            p
              | — Утрата права на жилую недвижимость. <br>
              | — Неравномерное распределение жилой площади/земельного участка между собственниками.<br>
              | — Предоставление в пользование непригодной жилплощади.<br>
              | — Лишение права пользования квартирой, домом, земельным участком.

            p В любом из приведенных случаев неизбежны потери времени и средств, возвратить которые в большинстве случаев невозможно. Поэтому рекомендуется сразу заручиться помощью профессионального юриста.

            h4 Преимущества нашей работы:

            p
            | — Узкоспециализированный подход – вашей проблемой будут заниматься профильные специалисты, в сферу профессиональных интересов которых входят исключительно вопросы жилищного законодательства.<br>
            | — Экспертные знания – наши юристы учитывают все нюансы и тонкости своей правовой области, а также последние законодательные изменения.<br>
            | — Богатый практический опыт – за 7 лет эффективной работы мы помогли успешно разрешить более 800проблем, связанных с жилой недвижимостью.
          
        .col-md-4.col-sm-5.col-12.right-block
          .list-block__wrap
            .right-block-title Так же мы можем помочь по следующим вопросам
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Раздел земельного участка
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Земельный участок под коммерческую застройку
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Земельный участок под коммерческую застройку
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Межевание земельного участка
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Уточнение границ участка
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Безвозвмездное пользование земельным участком
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Вынос границ земельного участка
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Право постоянного бессрочного пользования земельным участком
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Регистрация права собственности
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Купля-продажа участков
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Переоформление участка земли на родственника
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Покупка земельного участка
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Договор купли-продажи земельного участка
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Особенности ипотеки земельных участков
            .item
              .item__icons
                img(src="static/images/general/ic_form.png", alt="item")
              .item__descr Выкуп земельных участков

  include modules/small-block/form_block
  include modules/small-block/slider_post              
  include modules/small-block/map