extends template/main

block variables
  - var title = 'Услуги'
  - var pageClass = 'services'

block content

  include modules/small-block/info_block
  include modules/small-block/form_block
  include modules/small-block/map