// Colors
$tropaz: #255aa0;
$lightBlue: #d3e6fe;
$white: #ffffff;
$darkBlack: #000000;
$paleSky: #727a84;
$alto: #dedede;
$boulder: #7c7c7c;
$mercury: #e2e2e2;
$red: #ce2812;
$tundora: #474747;
$blue: #4183d7;
$wildSand: #f6f6f6;
$mineShaft: #292929;
$athensGray: #eff0f2;
$matisse: #215d9c;

// Sizes
$base-font-size: 16px;

$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;