section#frequent_appeals
  .container
    .row
      .col-12
        .headline-wrap
          .headline-descr Чаще всего к нам обращаются по следующим вопросам
    .row.frequent_appeals_wrap
      .frequent_appeals_item(style="background-image: url(static/images/general/bg_frequent_appeals.png); background-repeat: no-repeat; background-size: cover; height: 240px;")
        .wrapper
          .count 134 решенных дела
          .text Оформление прав на недвижимое имущество, включая самовольные постройки
      .frequent_appeals_item(style="background-image: url(static/images/general/bg_frequent_appeals.png); background-repeat: no-repeat; background-size: cover; height: 240px;")
        .wrapper
          .count 117 решенных дел
          .text Сопровождение сделок купли-продажи, дарения, мены земли
      .frequent_appeals_item(style="background-image: url(static/images/general/bg_frequent_appeals.png); background-repeat: no-repeat; background-size: cover; height: 240px;")
        .wrapper
          .count 109 решенных дел
          .text Подготовка и регистрация новых документов
      .frequent_appeals_item(style="background-image: url(static/images/general/bg_frequent_appeals.png); background-repeat: no-repeat; background-size: cover; height: 240px;")
        .wrapper
          .count 98 решенных дел
          .text Разделение участков, находящихся в общей собственности
        