section#info-block(style="background-image: url(static/images/general/bg_services.jpg); background-repeat: no-repeat; background-size: cover;")
  .container
    .row
      .service-block__content
        .service-block__wrap
          .title БЕСПЛАТНЫЙ ЮРИСТ <br> ПО ЗЕМЕЛЬНОМУ ПРАВУ
          .descr Более 40 ведущих юристов Москвы готовы оказать вам первоначальную консультацию совершенно БЕСПЛАТНО!
          form(action="")
            input#name(type="text", name="name", placeholder="Ваше имя")
            input#phone(type="tel", name="phone", placeholder="Контактный телефон")
            button(type="submit", value="", class="btn btn-blue") МНЕ НУЖНА КОНСУЛЬТАЦИЯ
          .note-block * Бесплатная консультация юриста доступна всем желающим на основании ФЗ-324 «О бесплатной юридической помощи в РФ»