section#list-question
  .headline-wrap
    .headline-descr Наши юристы могут решить все земельные вопросы, а именно:
  .container
    .row
      .list-wrap
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Раздел земельного участка
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Регистрация права собственности
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Безвозвмездное пользование земельным участком
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Земельный участок под коммерческую застройку
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Купля-продажа участков
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Вынос границ земельного участка
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Обременение земельного участка
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Переоформление участка земли на родственника
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Право постоянного бессрочного пользования земельным участком
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Межевание земельного участка
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Покупка земельного участка
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Особенности ипотеки земельных участков
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Уточнение границ участка
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Договор купли-продажи земельного участка
        .item
          .item__icons
            img(src="static/images/general/ic_form.png", alt="News item")
          .item__descr Выкуп земельных участков
    .row
      .note * Если вы не нашли в списке нужную услугу, то значит мы просто не указали ее на сайте, но мы оказываем все услуги по земельному праву 