section#map_contact
  .container
    .row
      .col-12
        .headline-wrap
          .headline-title ВЫБЕРИТЕ УДОБНЫЙ ДЛЯ ВАС ОФИС
          .headline-descr Приезжайте к нам для более подбробной бесплатной консультации. Будем рады вас видеть!
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac81e4789a5a8783757ec4c6c18775e85895dd86461a85700c4284bf6a6877ff4&amp;source=constructor" width="100%" height="450" frameborder="0"></iframe>
  .container
    .row
      .col-md-5.col-sm-6.col-12.map_container
        .content_block
          .content_block--item
            .content_block--title Адрес:
            .content_block--descr Москва, ул. Такая-то, дом. 1
          .content_block--item
            .content_block--title Телефоны:
            .content_block--descr 
              a(class='link' href='tel:+74951234567') +7 (495) 123 45 67
              a(class='link' href='tel:+74951234567') +7 (495) 123 45 67
          a.btn(href="#") ЗАПИСАТЬСЯ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ