section#slider-reasons
  .container
    .row
      .col-12
        .headline-wrap
          .headline-title НЕСКОЛЬКО ПРИЧИН ДОВЕРЯТЬ НАМ
          .headline-descr И вот первая из них: “Правда на вашей стороне!”
    .row.slider_wrap
      .col-md-3.col-sm-3.col-12.slider_item
        .slider_item--img
          img(src="static/images/general/icon_reason_1.png", alt="")
        .slider_item--title Мы профессионалы своего дела
        .slider_item--text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
      .col-md-3.col-sm-3.col-12.slider_item
        .slider_item--img
          img(src="static/images/general/icon_reason_2.png", alt="")
        .slider_item--title Специализируемся только на земельном праве
        .slider_item--text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
      .col-md-3.col-sm-3.col-12.slider_item
        .slider_item--img
          img(src="static/images/general/icon_reason_3.png", alt="")
        .slider_item--title Решим вашу проблему в кротчайшие сроки
        .slider_item--text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
      .col-md-3.col-sm-3.col-12.slider_item
        .slider_item--img
          img(src="static/images/general/icon_reason_4.png", alt="")
        .slider_item--title Мы не бросим вас даже в безвыходной ситуации
        .slider_item--text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
      .col-md-3.col-sm-3.col-12.slider_item
        .slider_item--img
          img(src="static/images/general/icon_reason_1.png", alt="")
        .slider_item--title Мы профессионалы своего дела
        .slider_item--text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
      .col-md-3.col-sm-3.col-12.slider_item
        .slider_item--img
          img(src="static/images/general/icon_reason_2.png", alt="")
        .slider_item--title Специализируемся только на земельном праве
        .slider_item--text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
      .col-md-3.col-sm-3.col-12.slider_item
        .slider_item--img
          img(src="static/images/general/icon_reason_3.png", alt="")
        .slider_item--title Решим вашу проблему в кротчайшие сроки
        .slider_item--text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
      .col-md-3.col-sm-3.col-12.slider_item
        .slider_item--img
          img(src="static/images/general/icon_reason_4.png", alt="")
        .slider_item--title Мы не бросим вас даже в безвыходной ситуации
        .slider_item--text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 