section#map
  .container
    .row
      .col-12
        .headline-wrap
          .headline-title ВЫБЕРИТЕ УДОБНЫЙ ДЛЯ ВАС ОФИС
          .headline-descr Приезжайте к нам для более подбробной бесплатной консультации. Будем рады вас видеть!