.header {
  background-color: $white;
  border-bottom: 1px solid #000;

  .header-top {
    background-color: $blue;
    color: $white;
    height: 50px;
    display: flex;
    align-items: center;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      &__item {
        display: flex;

        &:first-child:before {
          display: none;
        }

        &:before {
          content: "";
          display: block;
          background-image: url(../images/general/header_line.png);
          width: 1px;
          height: 29px;
          position: relative;
          right: 25px;
        }

        .item__icon {
          margin-right: 13px;
        }
      }
    }

    &-title,
    &-adress,
    &-phone {
      color: $white;
      font-family: Helvetica;
      font-size: 16px;
      font-weight: 300;
      line-height: 34px;
      letter-spacing: 0.4px;

      a {
        color: $white;

        &:hover {
          opacity: .8;
          transition: all 250ms ease;
        }
      }
    }
  }

  .header-middle {
    background-color: $white;
    color: $tropaz;
    padding: 28px 0;

    .row {
      display: flex;
      justify-content: space-between;

      .item-col:nth-child(1) {
        flex-basis: 40%;
        display: flex;
      }

      .item-col:nth-child(2),
      .item-col:nth-child(3) {
        flex-basis: 30%;

      }
    }

    .logo-wrap {
      display: flex;
      align-items: center;

      .logo {
        width: 72px;
        height: auto;
        margin-right: 16px;
      }

      span {
        color: $tropaz;
        font-family: "Gill Sans";
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.6px;
      }
    }

    .item-col {
      .items-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        justify-content: flex-end;

        .item {
          display: flex;
          margin-bottom: 20px;
          justify-content: flex-end;

          &:last-child {
            margin-bottom: 0;
          }

          &__icon {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 30px;
              height: auto;
              margin-right: 10px;
            }
          }

          .descr-wrap {

            .descr__title {
              font-size: 18px;
              font-weight: 700;
              letter-spacing: 0.45px;
            }

            .descr__info {
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 0.45px;
              line-height: 22px;
            }

            .descr__text {
              font-family: Helvetica;
              font-size: 14px;
              letter-spacing: 0.35px;
              line-height: 22px;
            }

            .descr__number {
              a {
                font-family: "Helvetica";
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 0.6px;
                line-height: 24px;
                color: $tropaz;
              }
            }
          }
        }
      }
    }
  }
}