footer.footer
  .container
    .row
      .footer__wrap
        .col-md-6.col-sm-6.col-12
          .h3 РЕШАЕМЫЕ ВОПРОСЫ
          .footer_menu__wrap
            .col
              ul.footer_menu--list
                li.footer_menu--item: a(class='footer_menu--link' href='#') Раздел земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Земельный участок под коммерческую застройку
                li.footer_menu--item: a(class='footer_menu--link' href='#') Обременение земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Межевание земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Уточнение границ участка
            .col
              ul.footer_menu--list
                li.footer_menu--item: a(class='footer_menu--link' href='#') Раздел земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Земельный участок под коммерческую застройку
                li.footer_menu--item: a(class='footer_menu--link' href='#') Обременение земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Межевание земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Уточнение границ участка
        .col-md-3.col-sm-3.col-12
          .h3 О КОМПАНИИ
          ul.footer_menu--list
            li.footer_menu--item: a(class='footer_menu--link' href='./door_to_order.html') Двери на заказ
        .col-md-3.col-sm-3.col-12
          .h3 МЫ НА СВЯЗИ
          ul.footer_menu--list
            li.footer_menu--item: a(class='footer_menu--link' href='#') остекление на заказ
