footer.footer
  .container
    .row
      .footer_menu__wrap
        .col
          ul.footer_menu--list
            li.footer_menu--item: a(class='footer_menu--link' href='#') Расчет
        .col
          ul.footer_menu--list
            li.footer_menu--item: a(class='footer_menu--link' href='./windows_to_order.html') Окна на заказ
        .col
          ul.footer_menu--list
            li.footer_menu--item: a(class='footer_menu--link' href='./door_to_order.html') Двери на заказ
        .col
          ul.footer_menu--list
            li.footer_menu--item: a(class='footer_menu--link' href='#') остекление на заказ
        .col
          ul.footer_menu--list
            li.footer_menu--item: a(class='footer_menu--link' href='./post-list.html') Новости
