footer.footer
  .container
    .row
      .footer__wrap
        .col-lg-6.col-md-12.col-sm-6.col-12
          .h3 РЕШАЕМЫЕ ВОПРОСЫ
          .footer_menu__wrap
            .col
              ul.footer_menu--list
                li.footer_menu--item: a(class='footer_menu--link' href='#') Раздел земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Земельный участок под коммерческую застройку
                li.footer_menu--item: a(class='footer_menu--link' href='#') Обременение земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Межевание земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Уточнение границ участка
            .col
              ul.footer_menu--list
                li.footer_menu--item: a(class='footer_menu--link' href='#') Раздел земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Земельный участок под коммерческую застройку
                li.footer_menu--item: a(class='footer_menu--link' href='#') Обременение земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Межевание земельного участка
                li.footer_menu--item: a(class='footer_menu--link' href='#') Уточнение границ участка
        .col-lg-3.col-md-6.col-sm-6.col-12
          .h3 О КОМПАНИИ
          .footer--list
            .footer--item
              .footer--item__title Наши юристы
              .footer--item__descr Более 40 ведущих юристов
            .footer--item
              .footer--item__title Отзывы
              .footer--item__descr Средняя оценка 4.7
            .footer--item
              .footer--item__title Контакты
              .footer--item__descr 12 офисов в Москве
        .col-lg-3.col-md-6.col-sm-6.col-12
          .footer-contact__wrap
            .h3 МЫ НА СВЯЗИ
            .footer--call
              .call__icon
                img(src="static/images/general/call.png", alt="")
              .call-wrap
                .call__number
                  a(href="tel:+74951234567") +7 (495) 123 45 67
                .call__number 
                  a(href="tel:+74951234567") +7 (495) 123 45 67
          .footer--social
            ul.footer--social__list
              li.footer--social--item: a(class='link bg-fb' href='#' aria-label="Facebook")
              li.footer--social--item: a(class='link bg-tw' href='#' aria-label="Twitter")
              li.footer--social--item: a(class='link bg-mail' href='mailto:test@mail.ru' aria-label="Email")
              li.footer--social--item: a(class='link bg-phone' href='tel:+79999999999' aria-label="Phone")
              li.footer--social--item: a(class='link bg-gplus' href='#' aria-label="Google plus")

